<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>mvcDispathcer</servlet-name>
        <servlet-class>com.thoughtworks.mvc.web.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>module</param-name>
            <param-value>com.thoughtworks.mvc.example.TestModule</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>mvcDispathcer</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
